@import "../../../../assets/styles/variables";

header.header {
  padding: 30px 0 49px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .header-top {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 25px;
      border-bottom: 1px solid #C5C5C5;
      font-family: Montserrat, sans-serif;
      font-weight: 500;

      .header-top-menu {
        margin-left: 26px;
        margin-right: 191px;

        nav ul {
          display: flex;
          margin: 0;
          padding: 0;

          li {
            margin-right: 40px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active{
              border-bottom-color: $green-text-color;
            }

            a {
              font-size: 16px;
              color: $green-text-color;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .header-top-phone {
        margin-right: 59px;
        font-size: 16px;
        color: $green-text-color;
        text-decoration: none;
      }

      .header-top-action {
        display: flex;
        align-items: center;

        a {
          position: relative;
          margin-right: 8px;
          cursor: pointer;

          &:last-child {
            margin-right: 18px;
          }

          span {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            top: 10px;
            right: -18px;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            color: $green-text-color;
            font-size: 9px;
            border-radius: 50%;
            background-color: #B6D5B9;
          }
        }
      }
    }

    .header-bottom {
      display: flex;
      align-items: center;
      padding-top: 16px;

      .header-bottom-menu {
        margin-left: 26px;
        margin-right: 97px;

        nav ul {
          display: flex;
          margin: 0;
          padding: 0;

          li {
            margin-right: 50px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active{
              border-bottom-color: $green-text-color;
            }

            a {
              font-size: 16px;
              color: $green-text-color;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }

      .header-bottom-search {
        position: relative;

        &::after{
          content: "" ;
          position: absolute;
          left: 15px;
          top: 11px;
          width: 16px;
          height: 16px;
          background-image: url("../../../../assets/images/icons/search.png");
          background-size: cover;

        }

        input {
          padding: 10px 10px 10px 43px;
          width: 214px;
          height: 41px;
          border-radius: 30px;
          border: 1px solid $green-text-color;
          box-sizing: border-box;
          font-size: 16px;
          color: $green-text-color;
          outline: none;
        }
      }
    }


  }
}
